*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* General rules */

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header,
footer {
  background-color: #2A2A2A;
}

/* Header rules */

header {
  height: 10svh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

/* Home page rules */

.home-container {
  display: grid;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "title"
    "subtext";
}

.home-heading,
.home-subtext {
  text-align: center;
}

.home-heading {
  grid-area: title;
}

.home-subtext {
  grid-area: subtext;
}

/* Main rules */

.main-container {
  height: 75svh;
  display: grid;
  grid-template-areas:
    ". image ."
    ". name .";
  padding: 2em;
}

.food-image {
  grid-area: image;
  height: 250px;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.food-name {
  grid-area: name;
  text-align: center;
  text-decoration: none;
}

/* Footer rules */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15svh;
}