*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* Typography */

:root {
  /* Mobile font sizes */
  --font-size-heading-mobile: 1rem;

  /* Tablet font sizes */
  --font-size-heading-tablet: 1.3rem;

  /* Small laptop font sizes */
  --font-size-heading-small-laptop: 1.5rem;
}

/* General rules */

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header,
footer {
  background-color: #2A2A2A;
  padding: 2em;
  height: 75px;
}

/* Header rules */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

/* Home page rules */

.home-container {
  display: grid;
  grid-template-areas:
    "title"
    "subtext";
  place-content: center;
}

.home-heading,
.home-subtext {
  text-align: center;
}

.home-heading {
  grid-area: title;
}

.home-subtext {
  grid-area: subtext;
}

/* Main rules */

.all-content-container {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.main-container {
  display: grid;
  grid-template-areas:
    "image"
    "name";
  padding: 2em;
  margin: auto;
}

.food-image {
  grid-area: image;
  height: 250px;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.food-name {
  grid-area: name;
  text-align: center;
  text-decoration: none;
}

/* Footer rules */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* Media queries */

@media (min-width: 768px) {
  .home-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      ". title ."
      ". subtext .";
    place-content: center;
  }

  .main-container {
    display: grid;
    grid-template-areas:
      ". image ."
      ". name .";
    padding: 2em;
    place-content: center;
  }

  .food-image {
    height: 200px;
    border-radius: 5px;
  }

  .food-name {
    font-size: var(--font-size-heading-tablet);
  }

  .food-tile {
    margin: 1em;
  }

}

@media (min-width: 1024px) {
  .food-name {
    font-size: var(--font-size-heading-small-laptop);
  }
}

@media (min-width: 1440px) {}

@media (min-width: 2560px) {}